<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JBYT27 - About</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- url is jbyt27.is-a.dev :D -->
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href="https://JBYT27.jbloves27.repl.co"><i class="fa fa-exclamation-triangle"></i> JBYT27</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="https://JBYT27.jbloves27.repl.co">Home</a></li><!--
      --><li><a href="{{ url_for('projects') }}">Projects</a></li><!--
      --><li><a href="{{ url_for('about') }}">About</a></li><!--
      --><li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="https://JBYT27.jbloves27.repl.co">Home</a></li>
          <li><a href="{{ url_for('projects') }}">Projects</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>

    <br><br><br><br><br><br><br><br>
    <h2 style="text-align: center;">About</h2>
    <br>
    <p style="text-align: center"> I'm a teenager in middle school, not <em>too</em> smart <strike>lol</strike>, but yeah. You can call me 'they/them' or 'he/him'. <br>And so to answer some of your questions, no, I am <em>not</em> a girl lol.<br> Anyways, some languages I like to work with and am able to work with are:</p>
    <br>
    <ul align="center" style="text-indent: 15px;color: rgb(28, 121, 184)">
      <li>Python3</li>
      <li>Html/Css3/Js</li>
      <li>Reactjs</li>
      <li>A bit of C++</li>
      <li>Python Flask</li>
      <li>PHP</li>
      <li>Jquery</li>
    </ul>
    <br>
    <h3 align="center"> Replit Stats </h3>
    <h5 align="center"> Using <a href="https://github.com/JBYT27/REPLAPI" style="color: rgb(28,121,184)">REPLAPI</a></h5>
    <h4 align="center"> {{replitname}} ({{replitcycles}})<br> {{replitlangs}} </h4>
    <p align="center"> {{replitbio}} </p>

    <br><br>

    <h3 align="center"> GitHub Stats </h3>
    <h5 align="center"> Using my brain </h5>
    <h4 align="center"> {{gitname}} Followers: {{gitfollow}} || {{gitstatus}} <br> {{gitlangs}}</h4>
    <p align="center"> {{gitbio}} </p>

    <br><br>

    <p style="text-align: center">So yeah. For more questions or info, you can navigate through the <a href="{{ url_for('contact') }}">contacts</a> page.</p>
    <h3 align="center">See you soon!</h3>
    <br><br>

  </body>
</html>