<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JBYT27 - Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- url is jbyt27.is-a.dev :D -->
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href="https://JBYT27.jbloves27.repl.co"><i class="fa fa-exclamation-triangle"></i><!--<img src="{{ url_for('static', filename='favicon.jpg') }}" style="width: 10%;height: 40%"/>--> JBYT27</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="https://JBYT27.jbloves27.repl.co">Home</a></li><!--
      --><li><a href="{{ url_for('projects') }}">Projects</a></li><!--
      --><li><a href="{{ url_for('about') }}">About</a></li><!--
      --><li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="https://JBYT27.jbloves27.repl.co">Home</a></li>
          <li><a href="{{ url_for('projects') }}">Projects</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>

    <br><br><br><br><br><br><br><br>
    <h2 style="text-align: center;color: rgb(13, 26, 38)"> Hiya there! Nice to meet you! My name's JBYT27! </h2>
    <p style="text-align: center;color: rgb(13, 26, 38)"> To learn more about me, navigate through <a href="{{ url_for('about') }}" style="color: rgb(28, 121, 184)">here!</a></p>
    <p style="text-align: center;color: rgb(13, 26, 38)"> To contact me, navigate through <a href="{{ url_for('contact') }}" style="color: rgb(28, 121, 184)">here!</a></p>
    <p style="text-align: center;color: rgb(13, 26, 38)"> To learn more about my projects, navigate through <a href="{{ url_for('projects') }}" style="color: rgb(28, 121, 184)">here!</a></p>
    <h3 style="text-align: center;color: rgb(13,26,38)">
      Hope to see you soon!
    </h3>
    <br><br>
  </body>
</html>
