<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JBYT27 - Home</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- url is jbyt27.is-a.dev :D -->
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href="https://JBYT27.jbloves27.repl.co"><i class="fa fa-exclamation-triangle"></i><!--<img src="{{ url_for('static', filename='favicon.jpg') }}" style="width: 10%;height: 40%"/>--> JBYT27</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <br><br><br><br><br><br><br><br>
    <h2 id="home" style="text-align: center;color: rgb(13, 26, 38)"> JBYT27 </h2>
    <br>
    <p id="about" style="text-align: center;color: rgb(13, 26, 38)"> A coder, student, simp, and weeb :3 </p>
    <p id="contact" style="text-align: center;color: rgb(13, 26, 38)">Discord: aspirin#5634<br><a href="https://github.com/JBYT27">GitHub</a><br><a href="https://replit.com/@JBloves27">Replit</a></p>
  </body>
</html>
