<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JBYT27 - Projects</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- url is jbyt27.is-a.dev :D -->
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <!-- Logo Placeholder for Inlustration -->
          <a href="https://JBYT27.jbloves27.repl.co"><i class="fa fa-exclamation-triangle"></i> JBYT27</a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="https://JBYT27.jbloves27.repl.co">Home</a></li><!--
      --><li><a href="{{ url_for('projects') }}">Projects</a></li><!--
      --><li><a href="{{ url_for('about') }}">About</a></li><!--
      --><li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
      <span class="icon icon-bars"></span>
      <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
      <ul id="menu">
          <li><a href="https://JBYT27.jbloves27.repl.co">Home</a></li>
          <li><a href="{{ url_for('projects') }}">Projects</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </div>

    <br><br><br><br><br><br><br><br>
    <h2 style="text-align: center;"> Projects </h2>
    <p style="text-align: center;"> Projects I like to make include <strong>modules</strong>, <strong>PL's</strong>, <strong>flask apps</strong>, <strong>tutorials</strong>, and many more. <br>However, some projects I am currently working on and helping with are:</p>
    <ul align="center" style="text-indent: 15px;color: rgb(28, 121, 184)">
      <li><a href="https://github.com/pyscript-language">PyScript</a></li>
      <li><a href-"https://replit.com/@JBloves27/CoolReplitFeatures#README.md">A Replit tutorial</a></li>
      <li><a href="https://github.com/ReplAPI-it">ReplAPI.it</a></li>
      <li><a href="https://replit.com/@JBloves27/JBYT27">This Flask app</a></li>
    </ul>
    <h5 align="center"> Note that more information will be located on the links </h5>
    <p align="center">Well, that's it for my projects. Cya!</p>
    <br><br>
  </body>
</html>
